body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-family: cursive;
}

.wrap-container {
    background-color: rgb(180, 174, 174);
    height: 800px;
    
}
.lives{
    color: red;

}

.hide{
    display: none;
  }

.modal {
    width: 200px;
    top: 20%;
    right: 30%;
    background-color: rgb(78, 76, 76);
    border-radius: 10px;
    border: 1px solid;
    padding-bottom: 20px;
    position: absolute;
  }

.smiley{
   background-color: aqua;
}

.btn-container{
    margin-top: 10px;
}
img{
    height: 20px;
    margin: auto;
    text-align: center;
}

.board {
    background-color: gray;
    border: 5px solid salmon;
    display: inline-block;
    text-align: left;
    position: relative;
    left: 720px;

}


.cell {
    width: 40px;
    height: 40px;
    border: 2px solid salmon;
    margin: 0 auto;
}

.close {
    width: 40px;
    height: 40px;
    border: 2px solid salmon;
    margin: 0 auto;
    background-color: grey;
}

.is-shown{
    background: lightgray;
    color: blue;
    text-align:center;
    font-weight: bolder;
}

button{


  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

